{
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "no-restricted-globals": "off",
    "max-classes-per-file": "off",
    "max-len": "off",
    "class-methods-use-this": "off",
    "prettier/prettier": "error"
  },
  "parser": "babel-eslint"
}
